.feb-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.yesButton {
  background-color: #6ef0a4;
  font-family: cursive;
  color: black;
  font-weight: bold;
}
.noButton {
  background-color: #cf4a8c;
  font-family: cursive;
  color: black;
  font-weight: bold;
}
.question {
  font-family: cursive;
  font-size: xx-large;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 15%;
}
.text {
  font-size: xx-large;
  letter-spacing: 1ch;
  font-family: sans-serif;
}
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}
